{% extends 'base.html' %}

{%block content%}

<h2> {{name}} </h2>
<h2>{{email}}</h2>
<h2>{{first_name}}</h2>
<h2>{{last_name}}</h2>
<h1>Feedback</h1>
<ul>
    {%for feedback in feedbacks%}
        <li>
            <form action="/feedback/{{feedback.id}}/delete" method="POST">
                <p>{{feedback.title}}</p>
                <a href="/feedback/{{feedback.id}}/update">{{feedback.content}}</a>
                <button type="submit">DELETE</button>
            </form>
        </li>
    {%endfor%}
</ul>
<a href="/users/{{name}}/feedback/add">ADD FEEDBACK</a>
<form action="/logout">
    <button type="submit">Logout</button>
</form>
<form action="/users/{{name}}/delete" method="POST">
    <button type="submit">DELETE USER</button>
</form>
{%endblock%}